@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.bg-blur {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}

/* Add the animation to the spinner */
.animate-spin {
  animation: spin 1s linear infinite;
}
